@media (min-width: 900px) {
  header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 0;
  }

  .logo {
    display: none;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 255px;
  }

  .menu {
    position: absolute;
    flex-direction: row;
    justify-content: center;
    color: #344563;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
    height: 40px;
    transform: translateY(0);
    opacity: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }

  .menu.active {
    transform: translateY(100%);
    display: flex;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    display: flex;
    justify-content: space-between;
    color: #344563;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    transition: font-size 0.5s;
  }

  .navbar li {
    list-style: none;
    margin: 0 15px;
    background-color: white;
  }

  .navbar .menu-i {
    text-decoration: none;
    color: #344563;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .navbar .menu-i:hover {
    color: #344563;
  }

  .menu-btn {
    display: none;
    font-size: 20px;
    cursor: pointer;
    outline: 1px solid;
  }

  #headline {
    background-image: url(images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding: 270px 0;
    transition: background 3s;
  }

  .title-1 {
    font-family: "Inter", sans-serif;
    position: static;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    letter-spacing: 0.37px;
    margin-bottom: 5px;
    margin-top: 15px;
    top: 160px;
  }

  .title-2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #36b37f;
    letter-spacing: 0.37px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .container-text {
    display: flex;
    justify-content: center;
    padding: 0 18% 0 18%;
  }

  .text-description {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-self: center;
    text-align: center;
    color: #172b4d;
    margin: 0 0 35px;
    left: 0;
    width: 920px;
    height: 96px;
    top: 298px;
  }

  .icons-homep {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .icons-homep li {
    padding-right: 4%;
  }

  .icons-homep li i {
    font-size: 26px;
    color: #505f79;
  }

  .fa-chevron-down {
    color: #acb7c3;
    align-self: center;
    border-radius: 50%;
    border: 1px solid rgb(214, 214, 214);
    padding: 2%;
    margin-top: 10%;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: #008552;
  }

  a:hover {
    color: #36b37f;
  }

  .ico-feature:hover {
    opacity: 50%;
  }

  /* ------- Card Works -------- */

  .indicator-div {
    display: none;
  }

  .projects {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px 20px;
    margin-top: 50px;
    max-width: 1095.91px;
  }

  .project {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border: 0.5px solid rgba(124, 124, 124, 0.356);
    border-radius: 8px;
    height: 474px;
  }

  .project:nth-child(3n-2):hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: -5px 10px #888;
    transition: box-shadow 0.2s;
  }

  .project:nth-child(3n-1):hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 10px #888;
    transition: box-shadow 0.2s;
  }

  .project:nth-child(3n):hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888;
    transition: box-shadow 0.2s;
  }

  .project-img {
    width: 100%;
  }

  .img {
    height: 252px;
    width: 100%;
  }

  .project-langs {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    gap: 10px;
    flex-wrap: wrap;
  }

  .project-lang {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    flex: 0 1 auto;
    padding: 5px;
    margin-bottom: 0;
    color: #344563;
    order: 0;
    border-radius: 8px;
    background-color: #ebecf0;
    white-space: nowrap;
  }

  /* ------- About me section-------- */

  #about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 390px;
    margin-top: 0;
    grid-row-gap: 25px;
  }

  .about-me-presentation {
    display: flex;
    flex-direction: column;
  }

  .btn-see-project {
    display: flex;
    align-self: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    background-color: #36b37f;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
    color: #fff !important;
    margin-bottom: 7%;
  }

  .img-about-right {
    position: absolute;
    right: 0;
    width: 269.55px;
    height: 244.78px;
    background-image: url(images/illustration\ about\ me\ desktop.png);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .img-bck-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(images/illustration-about-me-2-desktop@2x.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 220px 130px;
    margin-bottom: 10px;
  }

  .title-lang {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #344563;
    text-align: center;
  }

  .lang-programs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
  }

  .lang-programs li {
    background-color: #fff;
    padding: 4%;
    border-radius: 5px;
  }

  .lang-programs li a {
    color: #36b37e;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }

  .lang-frameworks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-top: 6px;
    height: 100px;
  }

  .lang-frameworks li {
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin-right: 10px;
  }

  .lang-frameworks li a {
    color: #36b37e;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }

  .lang-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-top: 6px;
    height: 100px;
  }

  .lang-skills li {
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin-right: 10px;
  }

  .lang-skills li a {
    color: #36b37e;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }

  /* ------Form  Section--------- */

  #form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
    height: 490px;
  }

  .text-form {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }

  .title-form {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
    height: 256px;
  }

  .contact-form {
    display: flex;
  }

  input {
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    padding-left: 16px;
  }

  input[name="name"] {
    height: 48px;
    width: 45%;
    margin-right: 20px;
  }

  input[name="lastname"] {
    height: 48px;
    display: inline-block;
    width: 47%;
    margin-right: 5px;
  }

  input[name="email-address"] {
    height: 48px;
    width: 97%;
  }

  input:placeholder-shown {
    font-family: "Inter", sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }

  .form-input {
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 47.5vw;
  }

  input:focus {
    outline: 1px solid #60c095;
  }

  textarea {
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    height: 114px;
    padding: 12px;
  }

  textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
  }

  textarea:focus {
    outline: 1px solid #60c095;
  }

  .contact-form ul {
    padding-left: 10px;
  }

  .contact-form ul li {
    padding: 0.7rem;
  }

  .comment {
    padding-bottom: 0;
  }

  .contact-illustration1 {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 200px;
    height: 440px;
    background-size: cover;
    background-image: url(images/Frame@2x.png);
    background-repeat: no-repeat;
  }

  .contact-illustration2 {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 20vw;
    width: 130px;
    height: 110px;
    margin-top: 28%;
    background-size: cover;
    background-image: url(images/illustration2.png);
    background-repeat: no-repeat;
  }

  .contact-illustration3 {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 193px;
    height: 350px;
    margin-top: 18%;
    background-size: cover;
    background-image: url(images/illustration3.png);
    background-repeat: no-repeat;
  }

  .submit {
    color: white;
    border-radius: 4px;
    background: #36b37f;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding: 12px;
    margin-left: 0;
  }

  .submit:hover {
    opacity: 60%;
  }

  .e-mail {
    display: none;
  }

  .error-input {
    border: 1px solid red;
  }

  .popup-tags p {
    margin: 10px 5px;
    background-color: #ebecf0;
    padding: 5px 10px;
    border-radius: 6px;
    color: #344563;
    font-family: “Poppins”, sans-serif;
    font-size: 14px;
    cursor: pointer;
  }

  .card-btn:hover p {
    color: rgb(41, 41, 41);
  }

  #errordiv p {
    font-family: "Poppins", sans-serif;
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
  }

  footer {
    height: 210px;
  }

  .blank-space {
    display: block;
  }

  .footer-hr {
    display: none;
  }

  .footer-line {
    display: none;
  }

  .footer-division {
    display: block;
    height: 1px;
    width: 100vw;
    border: none;
    background-color: #dfe1e6;
  }

  .footer-icons {
    font-size: 1.7rem;
    margin: 10px 0;
  }

  /* ------Popup mobile window Section--------- */

  .popup-visible {
    visibility: visible !important;
  }

  .modal-popup {
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    backdrop-filter: blur(10px);
    opacity: 0%;
    transition: all 0.5s ease-in-out;
  }

  .popup-transparency {
    opacity: 100%;
  }

  .modal-popup-content {
    display: flex;
  }

  .content-popup {
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 30px auto; /* 15% from the top and centered */
    padding: 20px;
    width: 920px; /* Could be more or less, depending on screen size */
    height: 1080px;
    border-radius: 10px;
  }

  .close {
    color: #67798e;
    float: right;
    font-size: 18px;
    padding: 2px 7px;
    border-radius: 3px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .content-popup img {
    width: 872px;
    margin-top: 20px;
  }

  .title-and-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .popup-title {
    font-family: “Poppins”, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    margin-top: 16px;
    width: 70%;
  }

  .popup-button {
    display: flex;
    flex-direction: row;
    background-color: #36b37e;
    border-radius: 6px;
    margin: 0 2px;
    padding: 9px 10px;
    height: auto;
    width: 100%;
    transition: all 0.4s ease-in-out;
    color: white;
  }

  .popup-button:hover {
    background-color: #1bd185;
    box-shadow: 0 0 16px rgba(54, 179, 127, 0.24);
  }

  .popup-tags {
    display: flex;
    flex-direction: row;
  }

  .popup-paragraph {
    margin-top: 36px;
    font-family: “Poppins”, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .popup-buttons-mobile,
  .popup-button-mobile {
    display: none;
  }

  .pop-up-div {
    padding-top: 30px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    overflow-y: scroll !important;
  }

  .inner-pop-up-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 920px;
    margin: 0 auto 10px auto;
    padding: 50px 10px 20px;
  }

  .pop-up-img-div {
    margin: 0 24px 10px 24px;
  }

  .pop-up-img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 95%;
  }

  .cont-div {
    width: 90%;
    margin-bottom: 30px;
    position: relative;
  }

  .cont-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    width: 65%;
    margin: 15px auto 20px 0;
  }

  .tech-list-div {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 0;
    padding: 0;
  }

  .pop-up-mobile-langs {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
  }

  .pop-up-desc {
    font-family: 'Inter', sans-serif;
    color: #344563;
    font-style: normal;
    font-weight: normal;
    width: 90%;
    font-size: 16px;
    line-height: 30px;
  }

  .btn-div {
    float: right;
    display: flex;
    gap: 10px;
    position: absolute;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: auto;
    width: 45%;
    top: 10px;
    right: 0;
  }

  .popUpBtn {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    width: 160px !important;
    height: 48px;
  }

  .close-pop-up {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    height: 24px;
    width: 35px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    padding: 3px;
    color: #636f7c;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
}
