body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
}

#headline {
  display: flex;
  flex-direction: column;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

li {
  list-style-type: none;
}

li i {
  font-size: 15px;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  color: #8f8f90;
}

.title-1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 5px;
  margin-top: 65px;
}

.title-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 5px;
}

.icons-homep {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.icons-homep li i {
  font-size: 20px;
  color: #505f79;
}

.fa-chevron-down {
  font-size: 20px;
  align-self: center;
  border-radius: 50%;
  border: 1px solid rgb(214, 214, 214);
  padding: 4%;
  margin-top: 10%;
}

.icons-homep > a
a:link, a:visited {
color: #557fc9;
}

.ico-feature:hover {
  opacity: 50%;
}
