body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.menu-btn {
  position: absolute;
  right: 0;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 20px;
}

.menu-close {
  position: absolute;
  right: 0;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 20px;
  visibility: hidden;
}

.menu-btn-close {
  visibility: hidden;
}

.close-act {
  visibility: visible;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  flex-direction: column;
  align-items: center;
  line-height: 100px;
  transition: all 0.5s ease;
  transform: translateY(-100%);
  opacity: 0%;
  height: 90vh;
  border-radius: 30px;
}

.menu-i {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.menu.active {
  transform: translateY(0);
  opacity: 100%;
}

#headline {
  display: flex;
  flex-direction: column;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

li {
  list-style-type: none;
  padding-right: 7%;
}

.title-1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 5px;
  margin-top: 65px;
}

.title-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 5px;
}

.icons-homep {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.icons-homep li i {
  font-size: 20px;
  color: #505f79;
}

.fa-chevron-down {
  color: #acb7c3;
  font-size: 20px;
  align-self: center;
  border-radius: 50%;
  border: 1px solid rgb(214, 214, 214);
  padding: 4%;
  margin-top: 10%;
}

a {
  text-decoration: none;
}

a:link {
  color: #28352f;
}

a:hover {
  color: #36b37f;
}

a:visited {
  color: #28352f;
}

.ico-feature:hover {
  opacity: 50%;
}

.popup-visible {
  visibility: visible !important;
}

/* ------ Section Card Works-------- */

.row1,
.row2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
}

.row1 {
  color: #172b4d;
}

.row2 {
  color: #36b37e;
}

.animation {
  animation-duration: 3s;
  animation-name: title_right_animation;
}

.title {
  margin: auto 260px;
  text-align: center;
}

.parag {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
  margin: 25px 260px;
  text-align: center;
  width: 80vw;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 25px;
  list-style: none;
}

.sm-icon {
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
}

.icon {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

.arrow-down {
  margin-top: 30px;
}

.projects-section {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.indicator-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  width: auto;
}

.project {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: 0.5px solid rgba(124, 124, 124, 0.356);
  border-radius: 8px;
  padding-right: 0;
}

.img {
  height: 50vw;
  width: 95vw;
  max-width: 700px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  text-align: center;
}

.project-langs {
  display: flex;
  justify-content:space-around;
  padding-left: 0;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.project-lang {
  flex: 0 1 auto;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  order: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #ebf0ee;
  white-space: nowrap;
}

.button:link,
.button:visited {
  width: 142px;
  height: 48px;
  background: #36b37f;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover,
.button:active {
  background-color: #008552;
  color: #fff;
}

.btn-resume:link {
  margin-top: 30px;
  width: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bottom-bar {
  margin-top: 150px;
  height: 4px;
  width: 100px;
  background-color: #0d151e;
  border: #0d151e;
  border-radius: 25px;
}

.pop-up-div {
  padding-top: 30px;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  overflow-y: scroll !important;
}

.inner-pop-up-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95%;
  padding-top: 10px;
  margin: 0 auto auto auto;
  padding-bottom: 70px;
}

.pop-up-img-div {
  margin: 0 24px 10px 24px;
}

.pop-up-img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 95%;
}

.cont-div {
  width: 90%;
  margin-bottom: 10px;
}

.cont-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 95%;
  margin: 15px 0 5px auto;
}

.tech-list-div {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  padding: 0;
}

.pop-up-mobile-langs {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.pop-up-tech-langs {
  margin-bottom: 0;
  margin-left: 0;
  align-self: flex-start;
}

.pop-up-desc {
  font-family: 'Inter', sans-serif;
  color: #344563;
  width: 90%;
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-div {
  position: absolute;
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  bottom: 0;
  margin-left: auto;
  width: 95%;
  margin-bottom: 10px;
}

.popUpBtn {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  width: 115px;
  height: 48px;
}

.close-pop-up {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 35px;
  font-weight: 700;
  height: 35px;
  width: 35px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  color: #67798e;
  background-color: #ddd;
  border: 2px solid #ddd;
  border-radius: 5px;
}

/* ------- About me section-------- */

#about-me {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 390px 352px 352px;
  margin-top: 0;
  grid-row-gap: 25px;
}

.about-me-presentation {
  display: flex;
  flex-direction: column;
}

.img-about-right {
  position: absolute;
  right: 0;
  width: 68px;
  height: 127px;
  background-image: url(images/top_right.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.img-bck-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(images/bottom_left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 70px 57px;
  margin-bottom: 30px;
}

.lang-content {
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 24px;
}

.img-globe {
  position: relative;
  width: 327px;
  height: 128px;
  left: calc(50% - 327px / 2);
  top: 16px;
}

.container-img {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  left: 124px;
  top: 24px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.globe-img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: calc(50% - 48px / 2 + 0.5px);
  top: calc(50% - 48px / 2);
}

.title-lang {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
}

.lang-programs {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin-top: 6px;
}

.lang-programs li {
  background-color: #fff;
  padding: 2%;
  border-radius: 5px;
}

.lang-programs li a {
  color: #36b37e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.lang-frameworks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-top: 6px;
  height: 100px;
}

.lang-frameworks li {
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
  margin-right: 10px;
}

.lang-frameworks li a {
  color: #36b37e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.lang-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-top: 6px;
  height: 100px;
}

.lang-skills li {
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
  margin-right: 10px;
}

.lang-skills li a {
  color: #36b37e;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

/* ------Form  Section--------- */

#form {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 363px 465px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 16px 16px 16px;
  margin-top: 0;
}

.text-form {
  display: inline-block;
  max-width: 327px;
  margin: 0 24px 0 24px;
  justify-content: center;
  text-align: center;
}

.title-form {
  display: flex;
  justify-content: center;
  width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.contact-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

input {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 16px;
}

input[name="lastname"] {
  display: none;
}

input[name="name"],
input[name="email-address"] {
  width: 290px;
  height: 48px;
}

input:placeholder-shown {
  font-family: "Inter", sans-serif;
  color: #6b778c;
  font-size: 15px;
  line-height: 24px;
}

.form-input {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

input:focus {
  outline: 1px solid #60c095;
}

textarea {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  width: 284px;
  height: 102px;
  padding: 12px;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

textarea:focus {
  outline: 1px solid #60c095;
}

.contact-form ul {
  padding-left: 10px;
}

.contact-form ul li {
  padding: 0.7rem;
}

.comment {
  padding-bottom: 0;
}

.contact-illustration {
  position: absolute;
  padding-top: 0;
  right: 0;
  width: 60px;
  height: 154px;
  background-size: cover;
  background-image: url(images/illustration-contact-form.png);
  background-repeat: no-repeat;
}

.contact-illustration2 {
  display: none;
}

.contact-illustration3 {
  display: none;
}

.submit {
  color: white;
  border-radius: 4px;
  background: #36b37f;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  margin-left: 30%;
}

.submit:hover {
  opacity: 60%;
}

footer {
  height: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.blank-space {
  display: none;
}

.desktop-separator {
  display: none;
}

.e-mail {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.footer-line {
  border-top: 8px solid #0d151e;
  border-radius: 5px;
  width: 40%;
}

.footer-hr {
  padding: 30px 0 0;
}
